.root{
    // position: fixed;
    right: 0;
    top:18px;
    width: 67px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px 6px 6px;
    margin: 0px 8px;
    border-radius: 4px;
    background: $white;
    margin-left: 8px;
    cursor: pointer;
    border: none;
}
.text{
    /* M */
    color: $blue_light;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -3%;
    text-align: left;
    margin-left: 5px;
}