.root{
    width: 25%;
    min-height: 468px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    border: 1px solid $white;
}
.wrapper{
    width: 288px;
    height: 288px;
    img{
        width: 100%;
    }
}
.title{
    color: $gray_dark;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -2%;
    text-align: left;
    margin-top: 8px;
}
.description{
    color: $gray_main;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -2%;
    text-align: left;
    margin-top: 8px;
}