.root {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.wrapper {
  width: 71px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 8px 0px 4px;
  border-radius: 4px;
  background: $blue_light;
  cursor: pointer;
}
.price {
  color: $white;
}
.oldPrice {
  margin-left: 8px;
  color: $gray_main;
  text-decoration-line: line-through;
}
.wrapperInCart {
  width: 71px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 8px 0px 4px;
  border-radius: 4px;
  background: $white;
}
