.root{
    // width: 108px;
    height: 24px;
    border-radius: 4px;
    background: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 4px 2px 4px;
    gap: 5px;
}
.discount{
    color: $blue_light;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -2%;
}
// .text{
//     color: $gray_dark;
//     font-size: 14px;
//     font-weight: 600;
//     line-height: 18px;
//     letter-spacing: -3%;
//     text-align: left;
// }