.root {
  max-width: 110px;
  height: 24px;
  border-radius: 4px;
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px 2px 4px;
}
.discount {
  color: $blue_light;
}
.text {
  color: $gray_dark;
}
