.sliderContainer{
    width: 250px;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.imgWrapper{
    display: block;
    margin: 0 auto;
    img{
        width: 250px;
    }
}
