header{
    border-bottom: 1px solid rgb(255, 255, 255);
    background: rgb(239, 238, 244);
    padding: 18px 14px 18px 14px;
    // display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between
}