.roundBtn {
    width: 72px;
    height: 24px;
    margin: 0px 8px;
    border-radius: 4px;
    background: $gray_light;
    cursor: pointer;
    border: none;
}

.btn{
    width: 72px;
    height: 24px;
    margin: 0px 8px;
    border-radius: 4px;
    background: $gray_light;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 8px;
}
.counter{
    color: rgb(46, 52, 56);
}
.block{
    margin-top: 30px;
}
.imgWrapper{
    height: 50px;
    justify-items: center
}
.image{
    height: 100%;
}
.itemWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
